.container {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  gap: 10px;
}
.container section p {
  line-height: 1.5;
  text-align: justify;
}
.container section p span {
  color: rgb(73, 73, 227);
}
.container h2 {
  text-align: center;
}
.details {
  line-height: 1.5;
  border-top: 2px solid #000;
  padding: 20px 0;
}
.details ul {
  margin-left: 50px;
}
.details p {
  padding: 5px 0;
}
