.main {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: flex-start;
  height: 100%;
  gap: 10px;
  padding: 0 60px;
}
.headings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #000c63;
  text-align: center;
}
.task h2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.task p {
  margin-top: 15px;
  line-height: 26px;
}
.task a {
  text-decoration: underline;
}
.articles {
  margin-top: 10px;
}
.articles h2 {
  display: flex;
  align-items: center;
  gap: 5px;
}
.articles_desc {
  margin-top: 20px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.articles_desc section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: 180px;
  width: 220px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  padding: 15px;
  border-radius: 20px;
}
.articles_desc span {
  border-radius: 50%;
  background: linear-gradient(to right, #130055, #3c0143);
  padding: 12px;
  color: #fff;
  font-weight: bold;
}
.articles_desc p {
  text-align: center;
  font-size: 15px;
}
@media (max-width: 579px) {
  .headings {
    text-align: center;
  }
  .main {
    padding: 0 20px;
  }
}
@media (max-width: 367px) {
  .headings {
    font-size: 13px;
  }
  .task_desc {
    font-size: 12px;
  }
}
